body{
    background-image: url("C:/Users/haris/Downloads/—Pngtree—modern simple elegant dark blue_1454711.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}